<div *ngIf="loaded">
    <button><a href="/album">Return back</a></button>
    <button (click)="deleteAlbum(album.id)">Delete</button>

    <input type="text" [(ngModel)] = "newAlbum.title"><br/>
    <button (click) = "changeAlbum(newAlbum.title, album.id, album)">Change post</button>

    <h2>Album detail #{{album.id}}</h2>

    <h4>{{album.title}}</h4>
    <a routerLink = "/albums/{{album.id}}/photos">Photos</a>
    <!-- <p>{{album.body}}</p> -->
</div>
<h3 *ngIf="!loaded">Album-ditail is not loaded(I wrote it in code)</h3>
